{% extends 'navigation.html' %}

{% block tittle %}
    <title>班级列表</title>
{% endblock %}

{% block content %}
<div>
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="#">
                <span class="qlyphicon glyphicon-pius-sign" aria-hidden="true"></span>
                新建班级
            </a>
        </div>
    <div class="panel panel-default"></div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>班级编号</th>
            <th>班级名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.id }}</td>
                <td>{{ class.name }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="#">编辑</a>
                    <a class="btn btn-danger btn-xs" href="#">删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}