{% extends "base.html" %}
{% block title %}课程资源管理{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">资源分类</a>
                <a href="#" class="list-group-item list-group-item-action">课件资料</a>
                <a href="#" class="list-group-item list-group-item-action">思政资源</a>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h5>资源列表</h5>
                    <a href="{% url 'course-resources' course.id %}" class="btn btn-primary btn-sm">
                        <i class="bi bi-plus-lg"></i> 上传新资源
                    </a>
                </div>
                
                <div class="card-body">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for resource in resources %}
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h6 class="card-title">{{ resource.title }}</h6>
                                    <p class="text-muted small">{{ resource.created_at|date:"Y-m-d" }}</p>
                                    <a href="{{ resource.file.url }}" class="btn btn-outline-primary btn-sm">
                                        下载资源
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}